In [1]:
# Module used to connect Python with MongoDb
import pymongo

In [2]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
client = pymongo.MongoClient('mongodb://localhost:27017')

# Define the 'classDB' database in Mongo
db = client.classDB

In [ ]:
# if you want to create another table
# db = client.DataClass
# d.students

In [4]:
# Query all students
# Here, db.students refers to the collection 'classroom '
classroom = db.students.find()

# Iterate through each student in the collection
for student in classroom:
    print(student)

{'_id': ObjectId('61609d39d47af4e8e94050a0'), 'name': 'Matt', 'favoriteLibrary': 'python', 'age': '35', 'hobbies': ['painting', '3d_printing', 'reading']}
{'_id': ObjectId('61609dc1d47af4e8e94050a1'), 'name': 'Kristin', 'favoriteLibrary': 'Numpy', 'age': '33', 'hobbies': ['walking', 'video_games', 'comic_books']}
{'_id': ObjectId('61609e1dd47af4e8e94050a2'), 'name': 'Stephanie', 'favoriteLibrary': 'SQL', 'age': '31', 'hobbies': ['cooking', 'fashion_design', 'sewing']}

In [5]:
# Insert a document into the 'students' collection
db.students.insert_one(
    {
        "name": "Ahmed",
        "row": 3,
        "favorite_python_library": "Matplotlib",
        "hobbies": ["Running", "Stargazing", "Reading"]
    }
)

# query the classroom collection
classroom = db.students.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('61609d39d47af4e8e94050a0'), 'name': 'Matt', 'favoriteLibrary': 'python', 'age': '35', 'hobbies': ['painting', '3d_printing', 'reading']}
{'_id': ObjectId('61609dc1d47af4e8e94050a1'), 'name': 'Kristin', 'favoriteLibrary': 'Numpy', 'age': '33', 'hobbies': ['walking', 'video_games', 'comic_books']}
{'_id': ObjectId('61609e1dd47af4e8e94050a2'), 'name': 'Stephanie', 'favoriteLibrary': 'SQL', 'age': '31', 'hobbies': ['cooking', 'fashion_design', 'sewing']}
{'_id': ObjectId('6160bb7b0be3dc2034e63d81'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [6]:
# Update a document
# UPDATE students SET row= 4 WHERE name = "Ahmed" LIMIT 1
db.students.update_one(
    {"name": "Ahmed"},
    {"$set":
        {"row": 4}
     }
)

# query the classroom collection
classroom = db.students.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('61609d39d47af4e8e94050a0'), 'name': 'Matt', 'favoriteLibrary': 'python', 'age': '35', 'hobbies': ['painting', '3d_printing', 'reading']}
{'_id': ObjectId('61609dc1d47af4e8e94050a1'), 'name': 'Kristin', 'favoriteLibrary': 'Numpy', 'age': '33', 'hobbies': ['walking', 'video_games', 'comic_books']}
{'_id': ObjectId('61609e1dd47af4e8e94050a2'), 'name': 'Stephanie', 'favoriteLibrary': 'SQL', 'age': '31', 'hobbies': ['cooking', 'fashion_design', 'sewing']}
{'_id': ObjectId('6160bb7b0be3dc2034e63d81'), 'name': 'Ahmed', 'row': 4, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [7]:
# Add an item to a document array
# UPDATE students SET hobbies=SERIALIZE(['Running', 'Stargazing', 'Reading']) WHERE name= 'Ahmed' Limit 1
db.students.update_one(
    {"name": "Ahmed"},
    {"$push":
        {"hobbies": "Listening to country music"}
     }
)

# query the classroom collection
classroom = db.students.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('61609d39d47af4e8e94050a0'), 'name': 'Matt', 'favoriteLibrary': 'python', 'age': '35', 'hobbies': ['painting', '3d_printing', 'reading']}
{'_id': ObjectId('61609dc1d47af4e8e94050a1'), 'name': 'Kristin', 'favoriteLibrary': 'Numpy', 'age': '33', 'hobbies': ['walking', 'video_games', 'comic_books']}
{'_id': ObjectId('61609e1dd47af4e8e94050a2'), 'name': 'Stephanie', 'favoriteLibrary': 'SQL', 'age': '31', 'hobbies': ['cooking', 'fashion_design', 'sewing']}
{'_id': ObjectId('6160bb7b0be3dc2034e63d81'), 'name': 'Ahmed', 'row': 4, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading', 'Listening to country music']}

In [8]:
# Delete a field from a document
db.students.update_one({"name": "Ahmed"},
                        {"$unset":
                         {"row": ""}
                         }
                        )

# query the classroom collection
classroom = db.students.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('61609d39d47af4e8e94050a0'), 'name': 'Matt', 'favoriteLibrary': 'python', 'age': '35', 'hobbies': ['painting', '3d_printing', 'reading']}
{'_id': ObjectId('61609dc1d47af4e8e94050a1'), 'name': 'Kristin', 'favoriteLibrary': 'Numpy', 'age': '33', 'hobbies': ['walking', 'video_games', 'comic_books']}
{'_id': ObjectId('61609e1dd47af4e8e94050a2'), 'name': 'Stephanie', 'favoriteLibrary': 'SQL', 'age': '31', 'hobbies': ['cooking', 'fashion_design', 'sewing']}
{'_id': ObjectId('6160bb7b0be3dc2034e63d81'), 'name': 'Ahmed', 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading', 'Listening to country music']}

In [9]:
# Delete a document from a collection
db.students.delete_one(
    {"name": "Ahmed"}
)

# query the classroom collection
classroom = db.students.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('61609d39d47af4e8e94050a0'), 'name': 'Matt', 'favoriteLibrary': 'python', 'age': '35', 'hobbies': ['painting', '3d_printing', 'reading']}
{'_id': ObjectId('61609dc1d47af4e8e94050a1'), 'name': 'Kristin', 'favoriteLibrary': 'Numpy', 'age': '33', 'hobbies': ['walking', 'video_games', 'comic_books']}
{'_id': ObjectId('61609e1dd47af4e8e94050a2'), 'name': 'Stephanie', 'favoriteLibrary': 'SQL', 'age': '31', 'hobbies': ['cooking', 'fashion_design', 'sewing']}